<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}crawler{% endblock %}</title>
        {% include "css.html" %}
        {% block css %}
        {% endblock %}
        {% csrf_token %}
    </head>
    <body>
        <header class="navbar-header">
        {% include "navbar.html" %}
        </header>
        <div class="container-fluid" id="container">
            {% block content %}{% endblock %}
        </div>
        <footer>
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
        </footer>
        {% include "javascripts.html" %}
        {% block javascript %}
        {% endblock %}
    </body>
</html>
