{% load i18n %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="nav pull-left">
                <img src="{{ STATIC_URL }}img/custom/logo-nav.png" alt="" style="padding-top: 5px" />
            </a>
            <a class="brand" href="#">
                <strong>tiengviet</strong></a>
            <div class="nav-collapse">
                <ul class="nav top-bar pull-right">
                    <!--
                    <li class=""><a href="">Home</a></li>
                    <li class=""><a href="">Games</a></li> 
                    <li class=""><a href="">News</a></li>
                    <li class=""><a href="">Mobile</a></li>
                    <li class=""><a href="">About</a></li>
                    -->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
